@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Hi+Melody&display=swap");

.top {
  width: 1280px;
  height: 720px;
  background-color: #fff;
}

.mainContainer {
  width: 1280px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer {
  width: 920px;
  height: 350px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnTitle {
  font-family: "Cute Font", "Hi Melody", sans-serif;
  font-size: 70px;
  text-align: center;
}

.btnBox {
  width: 750px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-color);
  font-family: "Cute Font", "Hi Melody", sans-serif;
  font-size: 60px;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.2);
  border: 5px solid red;
}

.input {
  margin-top: 100px;
  width: 680px;
  height: 70px;
  border-radius: 8px;
  border: 3px solid var(--main-color);
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  font-family: "Cute Font", "Hi Melody", sans-serif;
  font-size: 30px;
  color: #0f473f;
}

.input::placeholder {
  font-family: "Cute Font", "Hi Melody", sans-serif;
  font-size: 30px;
  color: #0f473f;
}

.input:focus {
  outline: none;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
}

.iconContainer {
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: fit-content;
  height: fit-content;
}

.icon {
  width: 30px;
  height: 30px;
}
