.top {
  width: 1280px;
  height: 720px;
  background-color: #fff;
}

.mainContainer {
  width: 1280px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_container {
  width: 70%;
  height: 200px;
  background-color: yellow;
  margin: 20px 0 20px 0;
}

.info_name {
  font-family: "Cute Font", "Hi Melody", sans-serif;
  font-size: 60px;
}

.info_detail {
  font-family: "Cute Font", "Hi Melody", sans-serif;
  font-size: 35px;
}
