.top {
  width: 1280px;
  height: 720px;
  background-color: #fff;
}

.mainContainer {
  width: 1280px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.rankingTitle {
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.rankingContainer {
  width: 65%;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f5f7fa;
  overflow: auto;
}

.rankingList {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.rankingItem {
  width: 200px;
  height: 60px;
  background-color: var(--base-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
